@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;500&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-size: 1.6rem;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Fontes*/
/*Cores Principais*/
/*Cores Neutras*/
/*----------------------------------*/
body {
  background: #262626 url("../assets/images/background-fixed.png") repeat-x top;
}

header {
  background-color: #5e1742;
}
header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  max-width: 1060px;
  margin: auto;
}
header .header-content div#logo {
  display: flex;
  width: 170px;
  overflow-x: hidden;
  padding: 15px 0 15px 0;
}
header .header-content div#logo a {
  width: 100%;
  height: 100%;
}
header .header-content div#logo a img {
  width: 336px;
  padding: 0;
}
header .header-content nav ul {
  display: flex;
  flex-direction: row-reverse;
}
header .header-content nav ul li {
  list-style: none;
}
header .header-content nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  padding: 2.4rem;
  font-family: "Roboto", sans-serif;
  transition: all 250ms linear 0s;
}
header .header-content nav ul li a:hover {
  color: #ff5e35;
}

/**/
.section-container .section-content {
  width: 95%;
  max-width: 1060px;
  margin: auto;
}

/**/
.background-section-one {
  background: #5F1842 url("../assets/images/background-top.jpg") no-repeat top center;
  height: 473px;
  border-top: 1px solid #962e40;
}
.background-section-one .section-content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.background-section-one .section-content #logo-black-friday {
  display: flex;
  justify-content: center;
}
.background-section-one .section-content #logo-black-friday img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

/**/
.background-section-two {
  background-color: #ff5e35;
}
.background-section-two .section-content {
  display: flex;
  flex-direction: column;
}
.background-section-two .section-content #photos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
.background-section-two .section-content #photos #photo-one {
  width: 100%;
  max-width: 30%;
  max-height: 280px;
  overflow: hidden;
  order: 1;
}
.background-section-two .section-content #photos #photo-two {
  width: 100%;
  max-width: 30%;
  max-height: 280px;
  overflow: hidden;
  order: 3;
}
.background-section-two .section-content #photos #photo-three {
  width: 100%;
  max-width: 30%;
  align-content: center;
  max-height: 458px;
  overflow: hidden;
  order: 2;
}
.background-section-two .section-content .text-promotion {
  align-self: center;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  text-transform: capitalize;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-evenly;
}
.background-section-two .section-content .text-promotion #text-promotion-one {
  font-size: 4.8rem;
  color: #404040;
  align-self: center;
}
.background-section-two .section-content .text-promotion #text-promotion-two {
  font-size: 22rem;
  color: #fff;
}
.background-section-two .section-content .text-promotion #text-promotion-three {
  font-size: 8.8rem;
  color: #5e1742;
  align-self: center;
}
.background-section-two .section-content .text-promotion #text-promotion-four {
  font-size: 8rem;
  color: #fff;
  align-self: center;
  justify-content: center;
  text-align: center;
}

.background-section-three {
  background-color: #d9d9d9;
}
.background-section-three .section-content {
  display: flex;
  flex-direction: row;
}
.background-section-three .section-content .card-register {
  display: flex;
  flex-direction: column;
  padding: 42px 27px;
}
.background-section-three .section-content .card-register p#card-register-title {
  width: 100%;
  color: #404040;
  font-family: "Bebas Neue", cursive;
  font-size: 6rem;
  font-weight: 400;
  line-height: 5.5rem;
}
.background-section-three .section-content .card-register p#card-register-subtitle {
  width: 100%;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.9rem;
  margin-top: 10px;
}
.background-section-three .section-content .card-register #content-register {
  width: 100%;
  display: flex;
  margin-top: 10px;
}
.background-section-three .section-content .card-register #content-register #formRegister {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.background-section-three .section-content .card-register #content-register #formRegister input[type=text] {
  width: 100%;
  height: 61px;
  border-radius: 1.6rem;
  background: #ececec;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 0px 20px 0px 20px;
  margin-bottom: 17px;
}
.background-section-three .section-content .card-register #content-register #formRegister input[type=text]:active {
  border: none;
}
.background-section-three .section-content .card-register #content-register #formRegister input[type=text]:focus {
  outline: none;
}
.background-section-three .section-content .card-register #content-register #formRegister input[type=submit] {
  width: 50%;
  height: 47px;
  border-radius: 16px;
  background: #5e1742;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 4.7rem;
}
.background-section-three .section-content .card-register #content-register #formRegister input[type=submit]:hover {
  background: #c9463d;
  cursor: pointer;
}
.background-section-three .section-content .card-register #content-register #formRegister #validate-msg {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #330136;
  margin: -5px 0 10px 10px;
  padding: 0px 3px;
}
.background-section-three .section-content .card-register #content-register #formRegister #loading-register {
  width: 50%;
  height: 40px;
  margin: -43px 0 0 50%;
  display: flex;
  flex-direction: row;
}
.background-section-three .section-content .card-register #content-register #formRegister #loading-register span {
  margin-right: 10px;
  color: #330136;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 4rem;
}
.background-section-three .section-content .card-image-calendar-face {
  padding: 20px;
  align-self: center;
}
.background-section-three .section-content .card-image-calendar-face img {
  width: 100%;
}

footer .section-content {
  display: flex;
  flex-direction: row;
  padding-top: 28px;
}
footer .section-content a {
  text-decoration: none;
  color: #a6a6a6;
}
footer .section-content a:hover {
  color: #962e40;
  cursor: pointer;
}
footer .section-content .footer-title {
  color: #737373;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.9rem;
  text-align: right;
  padding-bottom: 20px;
}
footer .section-content .footer-desc-two {
  margin-top: 10px;
}
footer .section-content .text-footer {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #a6a6a6;
}
footer .section-content #footer-about {
  flex-basis: 40%;
  height: 173px;
}
footer .section-content #footer-about .footer-title {
  text-align: left;
}
footer .section-content #footer-conect {
  flex-basis: 30%;
  height: 173px;
  text-align: right;
}
footer .section-content #footer-conect li {
  height: 30px;
}
footer .section-content #footer-conect li a {
  margin-top: -30px;
}
footer .section-content #footer-conect li a #logo-linkedin {
  width: 24px;
  height: 24px;
  background: url("../assets/images/icon-linkedin.png") no-repeat center top;
  float: right;
  margin-top: -3px;
}
footer .section-content #footer-conect li a #logo-github {
  width: 24px;
  height: 24px;
  background: url("../assets/images/icon-github.png") no-repeat center top;
  float: right;
  margin-top: -3px;
}
footer .section-content #footer-contact {
  height: 173px;
  flex-basis: 30%;
  text-align: right;
}
footer #footer-copyright {
  border-top: 1px solid #404040;
  max-width: 1060px;
  margin: 0 auto;
  height: 73px;
}
footer #footer-copyright p {
  color: #737373;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 7.3rem;
  text-align: center;
}
footer #footer-copyright p a {
  color: #962e40;
  text-decoration: none;
}
footer #footer-copyright p a:hover {
  color: #ff5e35;
  cursor: pointer;
}

/*-------------------------------*/
/*Media queries para responsividade*/
@media (max-width: 780px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 630px) {
  .background-section-three .section-content {
    flex-wrap: wrap-reverse;
  }
  .background-section-three .card-register {
    width: 100%;
  }
  .background-section-three .card-image-calendar-face {
    width: 80%;
    margin: auto;
    align-self: center;
  }

  .background-section-two .section-content #photos {
    flex-direction: column;
    justify-self: center;
  }
  .background-section-two .section-content #photos #photo-one, .background-section-two .section-content #photos #photo-two, .background-section-two .section-content #photos #photo-three {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  #footer .section-content {
    flex-direction: column;
    justify-content: center;
  }
  #footer .section-content .text-footer {
    margin-bottom: 20px;
    align-self: center;
    text-align: center;
  }
  #footer .section-content .text-footer .footer-title {
    text-align: center;
  }
}
@media (max-width: 540px) {
  .background-section-one {
    height: 300px;
  }

  nav {
    display: none;
  }

  .one,
.two,
.three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /* fullscreen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #5e1742;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 4rem;
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
