
/*Fontes*/
$fontFamilyPrimary: 'Montserrat', sans-serif;
$fontFamilySecondary: 'Bebas Neue', cursive;
$fontFamilyTertiary: 'Roboto', sans-serif;

/*Cores Principais*/
$colorMainOne: #330136;
$colorMainTwo: #5e1742;
$colorMainThree: #962e40;
$colorMainFour: #c9463d;
$colorMainFive: #ff5e35; 

/*Cores Neutras*/
$colorNeutralOne: #d9d9d9;
$colorNeutralTwo: #a6a6a6; 
$colorNeutralThree: #737373;
$colorNeutralFour: #404040; 
$colorNeutralFive: #262626;

/*----------------------------------*/

$backGroundColor: $colorNeutralFive;

body{
  background: $backGroundColor url("../assets/images/background-fixed.png") repeat-x top;
}

.section-container {
  width: 100%;
  height: 100%;

  & .section-content {
    margin: 0 auto;
    width: 1060px;
  }

}

.background-section-one {

  background: url("../assets/images/background-top.jpg") no-repeat top center;
  height: 533px;

  & #logo {
    width: 336px;
    height: 40px;
    float: left;
    margin: 22px 0px 0px 0px;
  }
  
  & #menuBar {
    width: 308px;
    height: 24px;
    float: right;
    margin: 30px 0 0 0;
  
    & ul {
      display: flex;
      flex-direction: row-reverse;
      
      & li {
        margin-left: 30px;
        
        & a {
          font-family: $fontFamilyTertiary;
          text-decoration: none;
          color: $colorNeutralOne;
  
          &:hover {
            color: $colorMainFive;
          }
        
        }
  
      }
      
    }
  }

  #logo-black-friday {
    float: left;
    width: 100%;
    height: 480px;
    background: url("../assets/images/logo-black-friday.png") no-repeat center top;
  }

}

.background-section-two {
  background-color: $colorMainFive;

  & .section-content {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    & #photos{
      flex-basis: 652px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 20px 0px 30px 0px;

      & #photo-one {
        width: 310px;
        height: 280px;
        margin: 0 0 0 10px;
      }

      & #photo-two {
        width: 310px;
        height: 340px;
        margin: -232px 0 0 10px;
      }

      & #photo-three {
        width: 311px;
        height: 458px;
        margin: 65px 0 0 10px;
      }
    }

    & .text-promotion{
      flex-basis: 380px;

      font-family: $fontFamilySecondary;
      font-weight: 400px;
      text-transform: capitalize;
      padding-left: 10px;

      & #text-promotion-one{
        font-size: 48px;
        color: $colorNeutralFour;
        margin-top: 35px;
      }

      & #text-promotion-two{
        font-size: 220px;
        color: #fff;
        margin-top: -20px;
      }

      & #text-promotion-three{
        font-size: 88px;
        color: $colorMainTwo;
        text-align: right;
        margin-top: -20px;
      }

      & #text-promotion-four{
        font-size: 80px;
        color: #fff;
        text-align: right;
      }

    }

  }

}

.background-section-three {
  background-color: $colorNeutralOne;

  & .section-content {

    display: flex;
    flex-direction: row;

    & .card-register{
      
      padding: 42px 0px 0px 27px;

      & p#card-register-title {
        width: 480px;
        height: 124px;
        color: #404040;
        font-family: $fontFamilySecondary;
        font-size: 60px;
        font-weight: 400;
        line-height: 55px;
        
      }

      & p#card-register-subtitle {
        width: 435px;
        max-height: 103px;
        color: #404040;
        font-family: $fontFamilyPrimary;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        margin-top: 10px;
      }

      & #content-register {
        height: 230px;
        margin-top: 10px;

        & #formRegister{
          display: flex;
          flex-direction: column;
          align-items: left;

          & input[type=text] {
            width: 444px;
            height: 61px;
            border-radius: 16px;
            background: #ececec;
            font-family: $fontFamilyPrimary;
            font-weight: 300;
            padding: 0px 20px 0px 20px;
            margin-bottom: 17px;

            &:active {
              border: none;
            }

            &:focus {
              outline: none;
            }
          }

          & input[type=submit]{
            width: 197px;
            height: 47px;
            border-radius: 16px;
            background: $colorMainTwo;
            color: #ffffff;
            font-family: $fontFamilyPrimary;
            font-size: 16px;
            font-weight: 500;
            line-height: 47px;             
            
            &:hover{
              background: $colorMainFour;
              cursor: pointer;
            }

          }

          & #validate-msg{
            font-family: $fontFamilyTertiary;
            font-size: 12px;
            color: $colorMainOne;
            margin: -5px 0 10px 10px;
            padding: 0px 3px; 
          }

        }

      }

    }

    & .card-image-calendar-face{
      padding: 42px 0px 69px 0px;
      width: 509px;
      height: 395px;
    }

  }

}

footer{

  & .section-content {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 28px;

    & a {
      text-decoration: none;
      color: $colorNeutralTwo;

      &:hover {
        color: $colorMainThree;
        cursor: pointer;
      }
    }

    & .footer-title {
      color: $colorNeutralThree;
      font-family: $fontFamilyPrimary;
      font-size: 24px;
      font-weight: 500;
      line-height: 29px;
      text-align: right;
      padding-bottom:  20px;
    }

    & .footer-desc-two {
      margin-top: 10px;
    }

    & .text-footer{
      font-family: $fontFamilyPrimary;
      line-height: 16px;
      font-size: 13px;
      font-weight: 500px;
      color: $colorNeutralTwo;

    }

    & #footer-about {
      flex-basis: 450px;
      height: 173px;

      & .footer-title {
        text-align: left;
      }
    }

    & #footer-conect {
      flex-basis: 302px;
      height: 173px;
      text-align: right;

      & li{
        height: 30px;

        & a{

          margin-top: -30px;

          & #logo-linkedin {
            width: 24px;
            height: 24px;
            background: url("../assets/images/icon-linkedin.png") no-repeat center top;
            float: right;
            margin-top: -3px;
          }

          & #logo-github {
            width: 24px;
            height: 24px;
            background: url("../assets/images/icon-github.png") no-repeat center top;
            float: right;
            margin-top: -3px;
          }
    
        } 
      }      
      
    }

    & #footer-contact {
      height: 173px;
      flex-basis: 308px;
      text-align: right;

    }
   

    & #footer-copyright {
      border-top: 1px solid #404040;
      flex-basis: 1060px;
      height: 73px;

      & p{
        color: $colorNeutralThree;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 73px;
        text-align: center;

        & a{
          color: $colorMainThree;
          text-decoration: none;
        
          &:hover{
            color: $colorMainFive;
            cursor: pointer;
          }
        }
      }
    }
    

  }

}



